body {
  font-family: -apple-system, BlinkMacSystemFont, , "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif";
 display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f6f8fa;
}

.demo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.segmented-control {
  display: inline-flex;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  overflow: hidden;
  font-size: 14px;
}

.segmented-control input[type="radio"] {
  display: none;
}

.segmented-control label {
  padding: 6px 12px;
  background-color: #fff;
  color: #24292f;
  cursor: pointer;
  user-select: none;
  border-right: 1px solid #d0d7de;
}

.segmented-control label:last-of-type {
  border-right: none;
}

.segmented-control input[type="radio"]:checked+label {
  background-color: #222;
  border-color: #ddf;
  color: white;
}

.segmented-control label:hover {
  background-color: #f3f4f6;
}

.segmented-control input[type="radio"]:checked+label:hover {
  background-color: #555;
}

.row2 {
  width: 100%;
}

#subpage {
  width: 90%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

#subpage #content-wrapper {
  padding: 35px 20px;
  border-radius: 25px;
  width: 100%;
}

#pg-store404 {
  padding: 40px 0 25px 0;
  text-align: center;
}

#pg-store404 h1 {
  font-size: 30px;
  font-family: 'Shopify Sans Medium';
}

html,
body {
  height: 95%;
  margin: 0;
}

.content {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
  margin-left: 18px;
}

footer {
  text-align: center;
}

#owner {
  text-align: center;
}

.owner-header {
  font-family: 'Shopify Sans Medium';
  font-size: 22px;
}

.owner-caption {
  font-size: 16px;
  font-family: 'Shopify Sans Regular';
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: #5B5B5B;
}

@font-face {
  font-family: 'Shopify Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.shopify.com/s/files/1/0458/4836/3030/files/ShopifySans-Regular.woff2?v=1674610915') format('woff2');
}

@font-face {
  font-family: 'Shopify Sans Medium';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.shopify.com/s/files/1/0458/4836/3030/files/ShopifySans-Medium.woff2?v=1674610916') format('woff2');
}

.new-stores-link {
  background: black;
  border-radius: 20px;
  color: white;
  font-family: 'Shopify Sans Medium';
  padding: 10px 60px;
  border: none;
  text-decoration: none;
  font-size: 16px;
}

.new-stores-link:hover {
  color: white;
}

.free-trial-link {
  background: none;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  font-family: 'Shopify Sans Medium';
  padding: 8px 70px;
  text-decoration: none;
  font-size: 16px;
}

.free-trial-link:hover {
  color: black;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.link {
  text-decoration: underline;
  color: #5B5B5B;
}

.link:hover {
  color: #5B5B5B;
}

.link-dark {
  text-decoration: underline;
  color: black;
}

.link-dark:hover {
  color: black;
}

.back-button {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
}

.back-button-text {
  margin-left: 5px;
  text-transform: uppercase;
  font-family: 'Shopify Sans Medium';
  font-size: 14px;
  text-decoration: none;
  color: #5B5B5B;
}

.arrow-line,
.arrow-head {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.back-button:hover .arrow-line {
  transform: translateX(-5px);
}

.back-button:hover .arrow-head {
  transform: translateX(-5px);
}

.cta-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.cta {
  margin: 10px;
  flex: 0 1 auto;
  max-width: 350px;
}

@media screen and (max-width: 768px) {
  .cta {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .link-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.cta-header {
  font-family: 'Shopify Sans Medium';
  font-size: 20px;
}

.cta-caption {
  font-size: 16px;
  color: #5B5B5B;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Shopify Sans Regular';
}

.cta-link {
  font-family: 'Shopify Sans Medium';
  font-size: 16px;
}

.color1 {
  background: linear-gradient(-45deg, #C1E9FF, #F4F5F6, #E1FCFF, #BDE7FF);
}

.color2 {
  background: linear-gradient(-45deg, #ECEAFB, #ECF7FC, #F0EDFE, #E9E8FB);
}

.background-animation {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.error-message {
  padding-bottom: 40px;
}

.supporting-content {
  padding-top: 60px;
}

.logo {
  height: 54px;
}

.rightaligned {
  float: right;
  margin-right: 25px;
}
